<!-- Describe task in general -->

<p>
    Раз ты уже тут, значит ты решил 4 миссии серии. Твоя функция уже может в массиве дат принимать более одной лампочки, чтобы определить, освещено помещение или нет. А вторым и третьим элементами можно определить - какой именно период мы хотим наблюдать.
</p>

<p>
    На 5ой миссии добавляется 4ый аргумент - время работы лампочек. По аналогии с предыдущими миссиями - если он не передан, значит лампа работает бесконечно. 
</p>

<p>
    Аргумент времени работы передается как объект timedelta. Он показывает - сколько лампа может проработать во включенном состоянии. У нее нет остываний, а значит, если наша лампа может проработать только один час, это значит, что она может проработать 30 мин сейчас и 30 мин через год. Потом она сама выключится и больше не будет реагировать на кнопку.
</p>

<p>
    Нам по-прежнему надо посчитать, как долго помещение было освещено.
</p>

<p style="text-align: center;" class="for_info_only">
    <img  title="example" src="{{MEDIA}}composition.gif" alt="example" style="max-height: 400px"/>
</p>

<!-- Explain input and output values -->
<p>
    <strong>Input: </strong> Четыре аргумента и только первый обязательный. Первый – {% if is_js %}an array of Date objects (вместо Date может быть [Date, number]){% else %}a list of datetime objects(вместо datetime может быть [datetime, int]){% endif %}, а второй и третий –  {% if is_js %}the Date objects{% else %}the datetime objects{% endif %}. Четвертый аргумент <i>(operating)</i> - {% if is_js %}integer{% else %}timedelta object{% endif %} - как долго работала лампочка.

</p>

<p>
    <strong>Output: </strong> Количество секунд как integer. 
</p>



<!-- Give some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Example:</strong>
    </p>

{% if is_js %}
<pre class="brush: javascript">sumLight([
    new Date(2015, 1, 12, 10, 0, 0),
    new Date(2015, 1, 12, 10, 0, 10),
    [new Date(2015, 1, 12, 10, 0, 0), 2],
    [new Date(2015, 1, 12, 10, 1, 0), 2],
]) == 60

sumLight([
    [new Date(2015, 1, 12, 10, 0, 10), 3],
    new Date(2015, 1, 12, 10, 0, 20),
    [new Date(2015, 1, 12, 10, 0, 30), 3],
    [new Date(2015, 1, 12, 10, 0, 30), 2],
    new Date(2015, 1, 12, 10, 0, 40),
    [new Date(2015, 1, 12, 10, 0, 50), 2],
    [new Date(2015, 1, 12, 10, 1, 0), 3],
    [new Date(2015, 1, 12, 10, 1, 20), 3],
]) == 60

sumLight([
    new Date(2015, 1, 12, 10, 0, 0),
    new Date(2015, 1, 12, 10, 0, 10),
    [new Date(2015, 1, 12, 10, 0, 0), 2],
    [new Date(2015, 1, 12, 10, 1, 0), 2],
], new Date(2015, 1, 12, 10, 0, 20), new Date(2015, 1, 12, 10, 1, 0)) == 40

sumLight([
    [new Date(2015, 1, 12, 10, 0, 10), 3],
    new Date(2015, 1, 12, 10, 0, 20),
    [new Date(2015, 1, 12, 10, 0, 30), 3],
    [new Date(2015, 1, 12, 10, 0, 30), 2],
], new Date(2015, 1, 12, 10, 0, 10), new Date(2015, 1, 12, 10, 0, 30)) == 20
</pre>
{% else %}
<pre class="brush: python">sum_light([
    datetime(2015, 1, 12, 10, 0, 0),
    datetime(2015, 1, 12, 10, 0, 30),
    (datetime(2015, 1, 12, 10, 0, 30), 2),
    (datetime(2015, 1, 12, 10, 1, 0), 2),
], operating=timedelta(seconds=20)) == 40

sum_light([
    (datetime(2015, 1, 12, 10, 0, 10), 3),
    datetime(2015, 1, 12, 10, 0, 20),
    (datetime(2015, 1, 12, 10, 0, 30), 3),
    (datetime(2015, 1, 12, 10, 0, 30), 2),
    datetime(2015, 1, 12, 10, 0, 40),
    (datetime(2015, 1, 12, 10, 0, 50), 2),
    (datetime(2015, 1, 12, 10, 1, 20), 2),
    (datetime(2015, 1, 12, 10, 1, 40), 2),
], start_watching=datetime(2015, 1, 12, 10, 0, 20), operating=timedelta(seconds=100)) == 50

sum_light([
    (datetime(2015, 1, 12, 10, 0, 10), 3),
    datetime(2015, 1, 12, 10, 0, 20),
    (datetime(2015, 1, 12, 10, 0, 30), 3),
    (datetime(2015, 1, 12, 10, 0, 30), 2),
], 
start_watching=datetime(2015, 1, 12, 10, 0, 10),
end_watching=datetime(2015, 1, 12, 10, 0, 30),
operating=timedelta(seconds=5)) == 10
</pre>
{% endif %}
</div>

<p>
    <strong>Предусловия:</strong>
</p>

<ul>
    <li><i>Массив нажатий на кнопку всегда отсортирован по возрастанию</i></li>
    <li><i>В массиве нажатий на кнопку нет повторяющихся элементов</i></li>
    <li><i>Количество элементов всегда четное число (это значит, что лампочка, в конце концов, будет выключена)</i></li>
    <li><i>Минимально возможная дата 1970-01-01</i></li>
    <li><i>Максимально возможная дата 9999-01-01</i></li>
</ul>
